@font-face {
    font-family: 'PingFangSC-Medium';
    src: url("./font/PingFangMedium.ttf");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PingFangSC-Regular';
    src: url("./font/PingFangSCRegular.ttf");
    font-weight: normal;
    font-style: normal;
}